body{
  background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
  
}

.Header__title{
  color: #0081A7;
  font-size: 150px;
  font-family: 'Courier New';
  text-align: center;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.card {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border-radius: 15px !important;
  border-color: black !important;
  border: 15px !important;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5)) !important;
}
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.face1 {
  box-sizing: border-box;
  padding: 20px;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Courier New';
}

.about, .mission, .vision{
  color: black;
  text-align: center;
}

.face2 {
  transition: 0.5s;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: 'Courier New';
}


.card:hover .face.face2 {
  height: 60px;
}
  h2 {
    font-size: 2em;
    font-family: 'Courier New';
  }


.card:nth-child(1) .face.face2 {
  background: black;
}

.card:nth-child(2) .face.face2 {
  background: black;
  
}

.card:nth-child(3) .face.face2 {
  background: black;
}
