
.backimage{
  filter: blur(1px);
  content: "";
  position: absolute;
  height: 20%; 
  width: 20%;
  background-size:cover;
  -webkit-transform: scale(5);
  -webkit-transform-origin: top left;
  background-image: url("https://images.pexels.com/photos/1044329/pexels-photo-1044329.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
  
}

.abs-container{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto ;
}

.Card {
  width: 300px;
  height: 400px;
  border-radius: 15px !important;
  border-color: black !important;
  border: 15px !important;
  margin-bottom: 3%;
  margin-top: 3%;
  
}
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  
}
.face1 {
  box-sizing: border-box;
  padding: 20px;
  color: white;
  
}

.about, .mission, .vision{
  color: black;
  text-align: center;
}

.face2 {
  transition: 0.5s;
}

h2 {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  
}


.card:hover .face.face2 {
  height: 60px;
}

.card:nth-child(1) .face.face2 {
  background: black;
}

.card:nth-child(2) .face.face2 {
  background: black;
  
}

.card:nth-child(3) .face.face2 {
  background: black;
}
.m, .v, .u{
  color: white;
}