.Hero{
    width:100%;
    height:100%;
}

.Hero__image {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.Hero__filter{
    position: absolute;
    background-color: rgba(7, 76, 97, 0.5);
    width: 100%;
    z-index: 1;
}