body{
    height: 100%;
    /* padding: 1%; */
}

/* full photo */
img{
    /* position: relative; */
    width: 1920px;
    height: 366px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 104.21%);
    background-image: url("https://images.unsplash.com/photo-1518614768202-663a3a0ecf59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

/* Security */
h1{
    /* position: absolute; */
    width: 897px;
    /* height: 199px; */

    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 156px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.9em;
    text-transform: uppercase;

    color: #000000;
}

.text-gp1{
    /* position: absolute; */
    margin: 30px;
    margin-top: 0;
    display: flex;
}