.Offer__section{
    width: 100%;
    background-color: #0081A7;
    position: absolute;
}

.Offer__section img{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: solid seashell 3px;
}

.Offer__section_text{
    padding-top: 35px;
    padding-bottom: 40px;
    color: white;
}

.Offer__section_text h1{
    margin-bottom: 25px;
}

.btn_passenger{
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#F07167;
    font-size:1.1em;
    border:0;
    cursor:pointer;
}

.btn_passenger:hover{
    background-color:#FDC087;
}