.Background__img_home{
    background-image: url('https://images.unsplash.com/photo-1511407397940-d57f68e81203?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80');
    filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 50vh;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
   }
.text{
    text-align: justify;
}
.title{
    font-weight: bold;
    font-size: 400%;
    font-style: initial;
}