.imagen_c{
    justify-content: center;
    align-items: center;
}
.imagen_c img{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.title_1{   
    margin-top: 6px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
     
    background-color: turquoise;  
}

.title_1 h1{
    color: purple;    
}

.title_1 p{
    color: black;
    font-weight: bold
}

.all_c{
   
    margin-top: 6px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
}
