.Box {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #0081A7;
}

.Title{
  color: #ffffff;
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #0081A7;
}

 
.FooterLink {
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
}

.FooterLink:hover{
  color: #004E66;
  transition: 200ms ease-in;
}

.img{
  width: 20px;
  margin-left: 15px;
  margin-top: -4px;
}

.logo{
  width: 35px;
  margin-left: 30px;
}
